
<div class="block-select">
  <div class="container">
  <select name="forma" onchange="location = this.value;">
      <option value="#">Categories</option>
      <option value="/">All</option>
      <option value="/Categories-shoes">Shoes</option>
      <option value="#"> Clothing</option>
      <option value="#"> sunglasses</option>
      <option value="#"> Hat&Cap</option>
      <option value="#"> Bags</option>
     </select>

  <select name="forma" onchange="location = this.value;">
    <option value="#">Sort By</option>
    <option value="/">Popularity</option>
    <option value="/sort-low-to-high">Price : Low to High</option>
    <option value="/sort-high-to-low">  Price : High to Low</option>
   </select>

   <select name="forma" onchange="location = this.value;">
    <option value="#">Filter</option>
    <option value="/">All</option>
    <option value="#h">Price : 0 - 1,500</option>
    <option value="#">  Price : > 1,500</option>
   </select>



