
<div class="block-select">
  <div class="container">
  <div id="categories" class="border rounded p-1 m-1"> <span class="text-muted-categories">Categories</span> <select name="categories" id="Categories">
    <option value="All"><b>All</b></option>
    <option value="Men"><b>Men</b></option>
    <option value="Women"><b>Women</b></option>
    <option value="Sports"><b>Sports</b></option>
    <option value="Clothing"><b>Clothing</b></option>
  </select> </div>

  <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted-sort">Sort by</span> <select name="sort" id="sort">
    <option value="popularity"><b>Popularity</b></option>
    <option value="price l-to-h"><b>Price : Low to High</b></option>
    <option value="price h-to-l"><b>Price : High to Low</b></option>
  </select> </div>

  <div id="filter" class="border rounded p-1 m-1"> <span class="text-muted-fill">Filter</span> <select name="filter" id="Filter">
    <option value="popularity"><b> 0 - 1,500 </b></option>
    <option value="prcie"><b> 1,500 - 2,000 </b></option>
    <option value="rating"><b>  > 3,000</b></option>
  </select> </div>
  </div>
</div>

