<%- include("partials/header.ejs") %>

<br><br>
<div class="container">
  <div class="view-background">
<h1>Login</h1><br>
<form action="/login" method="POST">

<div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Your Username">
  </div>

<div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Your password">
  </div>

<button type="submit" class="btn btn-info">Login</button>
<a href="/">Back</a><br><br>
<a class="register" href="/register">Don’t have an account ? Sign Up</a>
</form>
</div>
</div><br><br>

<%- include("partials/footer.ejs") %>