*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
.nav-text-link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.header{
    background: #c3f4fa;
}

#cart-icon{
    width: 18px;
    height :30px;
    color: black;
}

.menu-icon{
    width: 45px;
    margin-top: 8px;
    margin-left: 20px;
    display: none;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around ;
}
.col-2{
    display: grid;
    grid-template-columns:100% ;
    flex-basis: 50%;
    min-width: 450px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
}
.soldBy{
    margin-top: 5px;
}
#view-product-back{
    display: inline;
    width: 5rem;
    margin-left: 40%;
    margin-right: 1%;
}
th{
    background-color: #cacaca;
}
.view-content{
    background-color: rgb(245, 243, 243);
    display: block;
    margin-top: 0.5%;
    padding: 5%;
    width: 100%;
}
.view-content-user{
    background-color: rgb(236, 232, 232);
    display: block;
    margin-top: 0.5%;
    padding: 5%;
    width: 100%;
    border: rgb(243, 242, 242) solid;
}

#cart-remove{
    width: 5rem;
    height: 1.8rem;
    font-size: 12px;
    margin-top: 6px;
}
.cart-box{
    display: grid;
    grid-template-columns: 10% 40% 25% 2%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-product-title{
    font-size: 0.8rem;
    text-transform: uppercase;
    width: 10rem;
}
.cart-product-qty{
    width: 2.5rem;
    height: 2rem;
    padding: 5px;
}
.cart-img{
    width: 100px;
    object-fit: contain;
    margin-right: 10px;
}
.topbar{
    background-color: rgb(89, 233, 233);
    overflow: hidden;
}
.sidebar{
    background-color: rgb(224, 222, 222);
    color: white;
    height: 100%;
}
.sidebar a {
    margin-left: 10px;
    display: block;
    color: rgb(17, 16, 16);
    padding-bottom: 10px;
    font-size: 20px;
    text-decoration: none;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
.content{
    background-color: whitesmoke;
}
.card-body{
    background-color: #e9e5e5;
    border: rgb(243, 242, 242) solid;
}
#image-user{
    border: rgb(202, 198, 198) solid;
}
#username{
    color: black;
    font-size: 35px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.text-detail-order{
    font-size: 18px;
    border-bottom: rgb(207, 207, 207) solid;
}
.id-order{
    text-decoration: none;
    color: #333;
}
#text-status{
    font-size: 16px;
    color: rgb(86, 139, 11);
}
#text-status-view{
    display: inline;
    font-size: 30px;
    color: rgb(86, 139, 11);
}
#show-screen-small{
    visibility: hidden;
}
.background-color-white{
    background-color: rgb(238, 236, 236);
    padding: 5px;
}
.input-group{
    display: inline-block;
}

.footer{
    background: #e0e0e0;
    margin-top: 125px;
    max-width: 100%;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer h3{
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #6d6c6c;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.button-Qty{
    background-color: rgb(156, 154, 154);
    width: 1.8rem;
    border-radius: 50%;
    font-size: 15px;
    margin-left: 8px;
    border: none;
}

#form1{
    width: 50px;
}

#cart-icon{
    font-size: 35px;
    position: relative;
    margin: 0.5rem;
    cursor: pointer;
}

#sorting,
#res {
    font-size: 12px;
    margin-top: 2%
}

.selete {
    margin-right: 1%;
}


.shop-content {
    position: relative;
    top: 2rem;
}

.product-box{
    position: relative;
    background-color: rgb(255, 255, 255);
}

.product-box:hover{
    padding: 10px;
    border: 1px solid rgb(73, 72, 72);
    transition: 0.4s;
}

.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.block-product-title{
    display: block;
    height: 50px;
}
.product-title{
    font-size: 1.1rem;
    margin-top: 0.5rem;
}

.price{
    font-size: 1.3rem;
}

.add-cart{
    font-size: 40px;
    text-align: center;
    width: 5.5rem;
    height: 2.6rem;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: rgb(34, 30, 30);
    padding: 0.5rem;
    cursor: pointer;
}


.cart-title{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}



.detail-box{
    display: grid;
    row-gap: 0.3rem;
}


.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid;
    outline-color: black;
    width: 2.5rem;
    text-align: center;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.4rem;
    border-top: 1px solid;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: 0.5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}



#btn {
    display: inline;
}

#btn-add{
    display: inline;
}



.product-img-view{
    display: inline-block;
    margin-top: -20%;
    width: 50rem;
    border: rgb(235, 233, 233) solid;
}

.price-view{
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: rgb(139, 136, 136);
} 

#btn-back{
    position: relative;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 2rem;
    color: black;
}

.review{
    margin-top: 20px;
}

.no-item{
    margin: 10%;
    text-align: center;
}

.block-qty{
    width: 2rem;
    color: black;
}

#btn-checkout{
    margin-left: 42%;
    margin-right: 0.5%;
}

.text-check{
    background-color: white;
    color: black;
    font-weight: 50;
    margin-left: 3%;
}

#delete-form{
    display: inline;
}

#write-review{
    margin-bottom: 20px;
}

#selete{
    margin-right: 10px;
}
.icon-plus-minus{
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 15px;
}
.box-qty-small-screnn{
    display: none;
    font-size: 1px;
}
.nav-search-bar{
    display: inline-block;
    width: 350px;
    margin-left: 280px;
}
.searchbar{
    display: none;
}
.img-creditCard{
    margin-top: 15px;
    margin-bottom: 15px;
}
.view-background{
    display: block;
    margin-top: 0.5%;
    padding: 5%;
    width: 100%;
    border: rgb(235, 233, 233) solid;
}

@media only screen and (max-width: 1024px) {

    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        z-index: 100;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .nav-text-link{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .col-2{
        display: grid;
        grid-template-columns:100% ;
        flex-basis: 50%;
        min-width: 350px;
    }
    .text-detail-order{
        font-size: 10px;
        border-bottom: rgb(207, 207, 207) solid;
    }
    #order-view{
        display: none;
    }
    #show-screen-small{
        visibility: visible;
    }
    #hide-when-screen-small{
        display: none;
    }
    #img-footer1{
        margin-left: 40px;
    }
    #img-footer2{
        margin-left: 40px;
    }
    .searchbar{
        display: inline;
    }
    .nav-search-bar{
        display: none;
    }
    .cart-box{
        display: grid;
        grid-template-columns: 30% 16% 25% 2%;
        align-items: center;
        gap: 1rem;
        margin-top: 1rem;
    }
    .box-qty-full-screen{
        visibility: hidden;
    }
    .box-qty-small-screnn{
        display: inline;
        font-size: 15px;
    }
    .view-background{
        background-color: rgba(255, 255, 255, 0.507);
        display: block;
        margin-top: 0.5%;
        padding: 5%;
        width: 100%;
    }
    .product-img-view{
        display: inline-block;
        margin-top: -5%;
        width: 50rem;
        border: rgb(235, 233, 233) solid;
    }
}




