<%- include("../partials/header.ejs") %>

<br><br>
<div class="container">
  <div class="view-background">
<h1>Add your product</h1><br>
<form action="/" method="POST" enctype="multipart/form-data">
<div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" name="product[name]" placeholder="Product Name">
  </div>

<div class="mb-3">
    <label class="form-label">Price</label>
    <input type="text" class="form-control" name="product[price]" placeholder="Price">
  </div>

  <div class="mb-3">
    <label class="form-label">categories</label>
    <input type="text" class="form-control" name="product[categories]" placeholder="categories">
  </div>

<div class="mb-3">
  <label class="form-label">Details</label>
  <input type="text" class="form-control" name="product[details]" placeholder="Details your product">
</div>

<div class="mb-3">
  <label class="form-label">Quantity in Stock</label>
  <input type="text" class="form-control" name="product[qty]" placeholder="Quantity">
</div>

<div class="mb-3">
  <label class="form-label">Image</label>
  <input type="file" class="form-control" name="image" accept="image/*">
</div>

<button type="submit" class="btn btn-info">Submit</button>
<a href="/">Back</a>
</form>
</div>
</div>

<%- include("../partials/footer.ejs") %>